  @import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500&family=Baloo+2&family=Lato:ital@1&family=Nunito:wght@500&family=Oswald&family=Poppins:wght@400;700&family=Roboto:wght@500&display=swap');

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    overflow-x: hidden; 
    
  }


  nav {
    background-color: #EBFEFF;
    overflow: hidden;
    padding-left: 100px;
    padding-right: 100px;
    font-family: 'oswald', sans-serif;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  #logo {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    margin-right: 780px;
    
  }

  #logo:hover{
    color: #FFFFFF;
  }

  nav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    margin-left: 20px;
    text-decoration: none;
    margin-bottom: 8px;
    transition: background-color 0.3s ease;

  }

  nav a:hover{
  background-color: #457B9D;
  color: #FFFFFF;

  }

  .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 97%;
    height: 1px;
    background-color: black;
    filter: blur(4px);
  }


  .personalinfo {
    background-color: #EBFEFF;
    height: 390px;
    width: 100vw;
    position: relative;
    font-family: 'poppins', sans-serif;;
  }

  .personalinfotext {
    padding-top: 72px;
    padding-bottom: 40px;
    padding-left: 83px;
    color: #000000;
  }

  .firsttext {
    font-size: unset;
  
  }

  .secondtext {
    margin-top: -10px;
    
  }


  .thirdtext {
    margin-top: -10px;
    max-width: 550px;
    font-size: large;
  }

  .buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  .button {
    background-color: #79A2BC;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }

  .downloadicon img {
    width: 18px;
    height: 20px;
  }

  .readmore {
    position: absolute;
    left: 250px;
    height: 25px;
  }

  .button:hover {
    background-color: #45a049;
  }

  .imagebox {
    height: 250px;
    width: 241px;
    background-color: #79A2BC;
    border-radius: 16px;
    margin-top: -243px;
    margin-left: 802px;
    transition: transform 0.3s ease;
  }

  .imagebox:hover{
    transform: scale(1.05);
    filter:saturate(1.2)
  }

  .personalimage img {
    position: relative;
    top: -206px;
    left: -60px;
    width: 142%;
    height: 104%;
    border-radius: 16px;
    
  }



  .aboutme {
    height: 472px;
    background-color: #FFFFFF;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
  }

  .aboutmetext {
    position: relative;
    left: 706px;
    top: 61px;
    margin-top: -20px;
  }

  .aboutmetext h2{
    font-family: 'Oswald', sans-serif;;
  }

  .aboutmeimg{
      position: absolute;
      top: 415px;
      left: 16px;
  }

  .aboutmedetails{
      max-width: 500px;
  }

  .myskills{
      height: 225px;
      width: 100vw;
      background-color: #EBFEFF;
      display: flex;
      justify-content: center;
      text-align: center;
  }

  .myskills h2 {
    font-family: 'Oswald', sans-serif;;
      margin-top: 50px;
      margin-left: 3px;
  }
  .skilllogo {
      position: absolute;
      top: 1043px;
      left: 574px;
      transition: transform 0.4s ease;
  }

  .skilllogo img:hover{
    transform: scale(1.6);
  }

  .skilllogo span img{
      height: 50px;
      width: 50px;
      margin-right: 40px;
  }

  .project-container {
      text-align: center;
    
    }



    .projects {
      background-color: #FFFFFF;
      padding: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Poppins', sans-serif;
      background-color: #FFFFFF;
    
    }

  

    .project-container h2{
            margin-top: 50px;
            font-family: 'Oswald', sans-serif;
    }

    .project {
      margin: 0 30px;
      text-align: center;
      transition: transform 0.3s ease;
    }

    .project:hover{
      transform: scale(1.1);
    }

    .project img {
      width: auto;
      max-height: 222px; 
      border-radius: 8px;
    }
    
    

    .project-title {
      font-size: 1.5em;
      margin-top: 10px;
    }

    .project-description {
      margin-top: 10px;
      color: #555;
      
    }

    .footer {
      height: 270px;
      width: 100vw;
      background-color: #EBFEFF;
      display: flex;
      flex-direction: column;
      font-family: 'Oswald', sans-serif;
      

    }
    
    .contact-info {
    margin-left: 100px;
    }
    
    .contact-title {
      color: #457B9D;
      margin-bottom: 10px;
      margin-top: 35px;
    }
    
    .contact-details {
      font-size: 1.2em;
      color: #555;
    }

    .contact-details h1 {
      font-size: 1.2em;
      color: #070707;
    font-weight: bold;
    }
    
    .social-links {
      margin-top: 20px;
      margin-left: 90px;
    }
    
    .social-links img {
      width: 30px;
      height: 30px;
      margin: 0 10px;
      cursor: pointer;
    }

    .copyright {
      background-color: #EBFEFF;
      text-align: center;
      padding: 10px;
      color: #1c1b1b;
      font-family: 'Roboto', sans-serif;

    }
    
    @media only screen and (max-width: 768px) {
      /* Adjustments for smaller screens */

      nav {
        padding-left: 20px;
        padding-right: 20px;
      }

      #logo {
        margin-right: 20px;
      }

      .personalinfo {
        height: auto;
      }

      .imagebox {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
      }

      .aboutme {
        height: auto;
      }

      .aboutmetext {
        left: 20px;
      }

      .aboutmeimg {
        display: none; /* Hide the image on smaller screens */
      }

      .myskills {
        height: auto;
        flex-direction: column;
      }

      .skilllogo {
        position: static;
        margin: 20px auto;
      }

      .project-container h2 {
        margin-top: 20px;
      }

      .project {
        margin: 0 10px;
      }

      .footer {
        flex-direction: column;
        height: auto;
      }

      .contact-info {
        margin-left: 20px;
      }

      .social-links {
        margin-top: 10px;
        margin-left: 20px;
      }
    }

    nav a {
      float: left;
      display: block;
      color: #000000; /* Set color to black or whatever you prefer */
      text-align: center;
      padding: 14px 16px;
      margin-left: 20px;
      text-decoration: none; /* Remove underline */
      margin-bottom: 8px;
      transition: background-color 0.3s ease;
    }
    
    nav a:hover {
      background-color: #457B9D;
      color: #FFFFFF;
    }
    
    .project a {
      text-decoration: none;
    }
    
    .project-title {
      color: #5f605e;  /* Change to your preferred blue */
      
    }
    