@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500&family=Baloo+2&family=Lato:ital@1&family=Nunito:wght@500&family=Oswald&family=Poppins:wght@400;700&family=Roboto:wght@500&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

nav {
    background-color: #EBFEFF;
    overflow: hidden;
    padding-left: 37px;
    padding-right: 100px;
    font-family: 'Oswald', sans-serif;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 52px;
}

#logo {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 780px;
}

#logo:hover {
    color: #FFFFFF;
}

nav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    margin-left: 20px;
    text-decoration: none;
    margin-bottom: 8px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #457B9D;
    color: #FFFFFF;
}

.underline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 97%;
    height: 1px;
    background-color: black;
    filter: blur(4px);
}

.personalinfo {
    background-color: #EBFEFF;
    height: 390px;
    width: 100vw;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.personalinfotext {
    padding-top: 72px;
    padding-bottom: 40px;
    padding-left: 83px;
    color: #000000;
}

.firsttext {
    font-size: unset;
}

.secondtext {
    margin-top: -10px;
}

.thirdtext {
    margin-top: -10px;
    max-width: 550px;
    font-size: large;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.button {
    background-color: #79A2BC;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.downloadicon img {
    width: 18px;
    height: 20px;
}

.readmore {
    position: absolute;
    left: 250px;
    height: 25px;
}

.button:hover {
    background-color: #45a049;
}

.imagebox {
    height: 267px;
    width: 250px;
    background-color: #79A2BC;
    border-radius: 16px;
    margin-top: -243px;
    margin-left: 802px;
    transition: transform 0.3s ease;
}

.imagebox:hover {
    transform: scale(1.04);
    filter: saturate(1.2);
}

.personalimage img {
    position: relative;
    top: -206px;
    left: -60px;
    width: 142%;
    height: 104%;
    border-radius: 16px;
}

.aboutme {
    height: 472px;
    background-color: #FFFFFF;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
}

.aboutmetext {
    position: relative;
    left: 706px;
    top: 61px;
    margin-top: -20px;
}

.aboutmetext h2 {
    font-family: 'Oswald', sans-serif;
}

.aboutmeimg {
    position: absolute;
    top: 415px;
    left: 16px;
    
}

.aboutmedetails {
    max-width: 500px;
}

.myskills {
    height: 225px;
    width: 100vw;
    background-color: #EBFEFF;
    display: flex;
    justify-content: center;
    text-align: center;
}

.myskills h2 {
    font-family: 'Oswald', sans-serif;
    margin-top: 50px;
    margin-left: 3px;
}

.skilllogo {
    position: absolute;
    top: 1043px;
    left: 545px;
    transition: transform 0.4s ease;
}

.skilllogo img:hover {
    transform: scale(1.6);
}

.skilllogo span img {
    height: 50px;
    width: 50px;
    margin-right: 40px;
}

.project-container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 80%;
    margin-top: 20px;
    justify-items: center; /* Centers the content horizontally */
    align-items: center; /* Centers the content vertically */
}

.projects {
    background-color: #FFFFFF;
    padding: 50px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr); /* Create three equal columns */
    grid-template-areas: "Lorem analogclock LogoLoom" "Tic-Tac-Toe Font_Converter Font_Converter";

    justify-content: center;
    flex-wrap: wrap;
    align-items:baseline;
    font-family: 'Poppins', sans-serif;
    padding: 0px 74px 40px 74px;    
}

.projects div {
    /* text-align: center; */
    /* padding: 15px; */
   
    border-radius: 30px;
    /* background-color:#f7fbfb; */
    transition: transform 0.3s ease;
  }

.project-container h2 {
    margin-top: 50px;
    font-family: 'Oswald', sans-serif;
}

.project {
    text-align: center;
    padding: 10px;
    width: 396px;
    margin: 13px;
    text-align: center;
    transition: transform 0.3s ease;
    overflow: hidden;
    box-shadow: 6.5px 8.5px 18px rgba(0, 0, 0,0.1);
    position: relative;

}
.project-details{
    padding: 16px;
  position: relative; /* Ensure the button is positioned relative to this container */
}

.project a {
    text-decoration: none;
    /* color: inherit; */
}

.project a:hover {
    color: #088a91;
}

.project:hover {
    transform: scale(1.01);
}

.project img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-bottom: 1px solid #ccc;
    /* max-height: 222px; */
    border-radius: 30px;
}

.project-title {
    font-size: 1.5em;
    margin-top: 10px;
    color:#088a91
}

.project-description {
    margin-top: 10px;
    color: #555;
    text-decoration: none;
    text-overflow: ellipsis;
    box-shadow: none !important; /* Reset box-shadow for inner elements */
    margin-bottom: 35px;

    
}

/* .analogClock{
    padding-bottom: 102px;

} */

.live-view {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: inline-block;
    padding: 6px 12px;
    background-color: #007bff; /* Button background color */
    color: #fff; /* Text color */
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 12px; /* Rounded corners */
   
  }
  
  .live-view:hover {
    background-color: #6be975; /* Darker blue on hover */
    color: #fff;
    text-decoration: none;
  }


.footer {
    height: 270px;
    width: 100vw;
    background-color: #EBFEFF;
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
}

.contact-info {
    margin-left: 100px;
}

.contact-title {
    color: #457B9D;
    margin-bottom: 10px;
    margin-top: 35px;
}

.contact-details {
    font-size: 1.2em;
    color: #555;
}

.contact-details h1 {
    font-size: 1.2em;
    color: #070707;
    font-weight: bold;
}

.social-links {
    margin-top: 20px;
    margin-left: 90px;
}

.social-links img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    cursor: pointer;
}

.copyright {
    background-color: #EBFEFF;
    text-align: center;
    padding: 10px;
    color: #1c1b1b;
    font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 768px) {
    body, html {
        overflow-x: hidden; /* Prevent horizontal scrolling */
        width: 100%; /* Ensure full width usage */
    }

    nav {
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow:overlay;
        gap:16px;
    }

    .hamburger {
        display: block;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: #000;
        padding: 14px 16px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box; /* Include padding and border in the element's width */
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links a {
        text-align: left;
        padding-left: 20px; /* Adjust padding to fit within the viewport */
        box-sizing: border-box; /* Include padding and border in the element's width */
    }

    #logo {
        margin-right: auto;
    }

    .personalinfotext {
        left: auto;
        top: auto;
        margin: 20px;
        text-align: center;
        width: 100%; /* Ensure full width usage */
        box-sizing: border-box; /* Include padding and border in the element's width */
        margin-left: -30px;

    }

    .readmore {
        display: none;
    }
    
    .personalinfo {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 35px 34px;
        width: 100%;
        overflow-x: hidden; /* Prevent horizontal scrolling */
        box-sizing: border-box; /* Include padding and border in the element's width */
    }

    .imagebox {
        display: none;
        margin-top: 62px; /* Increased margin-top to move image lower */
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        background-color: #79A2BC;
        border-radius: 16px;
        transition: transform 0.3s ease;

    }

    .buttons {
        margin-top: 20px;
        display: flex;
        flex-direction: column; /* Stack buttons vertically */
        gap: 10px; /* Add gap between buttons */
    }

    .aboutme {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 50px 20px;
        width: 100%;
        overflow-x: hidden; /* Prevent horizontal scrolling */
        box-sizing: border-box; /* Include padding and border in the element's width */
    }

    .aboutmetext {
        left: auto;
        top: auto;
        margin: 20px;
        text-align: center;
        width: 100%; /* Ensure full width usage */
        box-sizing: border-box; /* Include padding and border in the element's width */
    }

    .aboutmeimg {
        display: none;
    }

    .myskills {
        height: auto;
        flex-direction: column;
        text-align: center;
        padding: 50px 20px;
        width: 100%;
        overflow-x: hidden; /* Prevent horizontal scrolling */
        box-sizing: border-box; /* Include padding and border in the element's width */
    }

    .skilllogo {
        position: static;
        margin: 25px 25px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px; /* Ensure logos align horizontally */
        width: 100%; /* Ensure full width usage */
        box-sizing: border-box; /* Include padding and border in the element's width */
    }

    .project-container {
        text-align: center;
        display: flex;
        justify-content: center; /* Center heading */
        margin-top: 20px;
        width: 100%; /* Ensure full width usage */
        overflow-x: hidden; /* Prevent horizontal scrolling */
        box-sizing: border-box; /* Include padding and border in the element's width */
    }

    .project-container h2 {
        margin: 0 auto; /* Center heading */
    }

    .projects {
        background-color: #FFFFFF;
        padding: 50px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        font-family: 'Poppins', sans-serif;
        width: 100%; /* Ensure full width usage */
        overflow-x: hidden; /* Prevent horizontal scrolling */
        box-sizing: border-box; /* Include padding and border in the element's width */

    }

    .project {
        width: 100%;
        margin: 10px 0;
        box-sizing: border-box; /* Include padding and border in the element's width */
    }

    .footer {
        flex-direction: column;
        height: auto;
        width: 100%; /* Ensure full width usage */
        overflow-x: hidden; /* Prevent horizontal scrolling */
        box-sizing: border-box; /* Include padding and border in the element's width */
    }

    .contact-info {
        margin-left: 20px;
        text-align: center;
        margin-bottom: 20px;
    }

    .social-links {
        margin-top: 10px;
        margin-left: 20px;
        display: flex;
        justify-content: center;
    }
}

